
<div class="envelop">
    <div class="group">
        <div class="part-1">
            <div class="row">
                <span class="red">השדות המסומנים ב-* חובה</span>
            </div>
            <div class="row">
                <div [ngClass]="{'red': firstNameError}">שם פרטי:*</div>
                <input type="text" placeholder="שם פרטי"  [(ngModel)]="userModel.firstname">
            </div>
            <div class="row">
                <div [ngClass]="{'red': lastNameError}">שם משפחה:*</div>
                <input type="text" placeholder="שם משפחה"  [(ngModel)]="userModel.lastname">
            </div>
            <div class="row">
                <div [ngClass]="{'red': emailError}">אימייל:*</div>
                <input type="email" placeholder="אימייל"  [(ngModel)]="userModel.email">
            </div>
            <div class="row">
                <div [ngClass]="{'red': phoneError}">טלפון:*</div>
                <input type="tel" placeholder="טלפון"  [(ngModel)]="userModel.phone">
            </div>
            <div class="row">
                <div [ngClass]="{'red': priceError}">תשלום לשעה:*</div>
                <input type="number" placeholder="תשלום לשעה"  [(ngModel)]="userModel.salaryPerHour">
            </div>
            <div class="row">
                <div [ngClass]="{'red': passError}">סיסמא:*</div>
                <input type="text" placeholder="סיסמא"  [(ngModel)]="userModel.pass">
            </div>
        </div>
    
        <div class="part-2">
            <div class="row">
                <div>כתובת:</div>
                <input type="text" placeholder="כתובת"  [(ngModel)]="userModel.address">
            </div>
            <div class="row">
                <div>גיל:</div>
                <input type="number" placeholder="גיל"  [(ngModel)]="userModel.age">
            </div>
            <div class="row">
                <div>האם הוא אדמין?*</div>
                <mat-radio-group aria-label="Select an option">
                    <mat-radio-button class="rad" [value]="true" [(ngModel)]="userModel.isAdmin" name="userModel.isAdmin" ngDefaultControl> כן </mat-radio-button>
                    <mat-radio-button [value]="false" [checked]="true" [(ngModel)]="userModel.isAdmin" name="userModel.isAdmin" ngDefaultControl> לא </mat-radio-button>
                  </mat-radio-group>
            </div>
            <div class="row">
                <div>תמונה:</div>
                <input type="file" (change)="handleFileSelect($event)">
            </div>
            <div class="row">
                <div>הערות:</div>
                <textarea placeholder="הערות"  [(ngModel)]="userModel.notes"></textarea>
            </div>
        </div>
    </div>
    <div class="part-3">
        <button type="button" class="button" (click)="AddUser()">אישור</button>
    </div>
</div>
