.envelop {
    color: white;
    font-family: 'Amatic SC', cursive;
    main {
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 20px;
        font-weight: bold;
    }
    .green {
        background-color: green;
    }
    .orange {
        background-color: orange;
    }
    .red {
        background-color: red;
    }
    header {
        display: flex;
        justify-content: space-between;
        padding: 5px;
        font-family: system-ui;
        text-align: center;
        img {
            width: 15px;
        }
    }
    footer {
        display: flex;
        justify-content: center;
    }
}
