
<div class="envelop">
    <mat-accordion *ngFor="let deliverer of userService.deliverers">
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <div style="font-weight: bold;">{{deliverer.firstname}} {{' ' + deliverer.lastname}}</div>
              <!-- <div id="link" *ngIf="!userService.currentUser.isAdmin"><a>לחץ כאן כדי לראות את השעות</a></div> -->
            </mat-panel-title>
            <mat-panel-description>
                <img class="img" *ngIf="deliverer.photo == ''" src="/assets/user.png"/>
                <img class="img" *ngIf="deliverer.photo !== ''" [src]="deliverer.photo"/>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p><span class="label">אימייל:</span> {{deliverer.email}}</p>
          <p><span class="label">טלפון:</span> {{deliverer.phone}}</p>
          <p><span class="label">מחיר שעתי:</span> {{deliverer.salaryPerHour}}</p>
        </mat-expansion-panel>
      </mat-accordion>
</div>
