.envelop {
    height: 100%;
    header {
        direction: rtl;
        background-color: lightgrey;
        padding: 1rem;
        border-bottom: 2px solid black;
    }
    main {
        height: -moz-calc(100% - 266px);
        height: -webkit-calc(100% - 266px);
        height: calc(100% - 266px);
        background: black;
    }
    footer {
        height: 100px;
        font-style: italic;
        font-size: 13px;
        text-align: center;
        background-color: lightgrey;
        padding-top: 2rem;
    }
}

@media only screen and (max-width: 600px) {
    .envelop{
        main{
            height: -moz-calc(100% - 180px);
            height: -webkit-calc(100% - 180px);
            height: calc(100% - 180px);
        }
        footer{
            height: 30px;
            padding-top: 1rem;
        }
    }
}