<section class="envelop" [ngClass]="{'h-unset': page === pageenum.AddDeliver, 'h-100': page !== pageenum.AddDeliver}">
  <ngx-ui-loader></ngx-ui-loader>
  <header>
    <app-logo></app-logo>
  </header>

  <main>
    <app-menu (DeliverersListEvent)="LoggedInCallback($event)"
              (menuInitEvent)="CheckUrl($event)"></app-menu>
    <app-login (loggedInEvent)="LoggedInCallback($event)"
               *ngIf="page === pageenum.Loggin">
    </app-login>
    <app-deliverers-list *ngIf="page === pageenum.DeliverersList"></app-deliverers-list>
    <app-add-deliverer *ngIf="page === pageenum.AddDeliver"></app-add-deliverer>
  </main>
  <footer>
    by @Mickael_Benaroch
  </footer>
</section>
