<div class="envelop">
    <h1>ברוך הבא לשליחויוס</h1>
    <div class="row">
        <div class="d-1">
            <label>אימייל:</label>
        </div>
        <div class="d-2">
            <input type="email" placeholder="your_email@mail.com"  [(ngModel)]="email">
        </div>
        <div class="d-3">נא להזין אימייל תקין</div>
    </div>
    <div class="row">
        <div class="d-1">
            <label>סיסמא:</label>
        </div>
        <div class="d-2">
            <input type="password" placeholder="**********"  [(ngModel)]="password">
        </div>
        <div class="d-3">נא להזין סיסמא</div>
    </div>

    <div class="but-div">
        <button (click)="Enter()">כניסה</button>
    </div>
</div>