/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.noti-modalbox >  mat-dialog-container {
    padding: 0px;
}
.cdk-overlay-container {
    z-index: 999999999999 !important;
}
.cdk-overlay-pane {
    width: 40% !important;
}
mat-dialog-container {
    border-radius: 5px !important;
    max-height: 30px !important;
    direction: rtl ;
    padding: unset !important;
    overflow-y: hidden !important;
}

.mat-radio-outer-circle {
    border-color: white !important;
}
.mat-radio-container {
    margin-left: 5px;
}